{% load static from staticfiles %}
<html>
<head>
<link href="{% static 'resources/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'resources/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'resources/jQuery.js'%}"></script>
<script src="{% static 'user_profile/view_profile.js'%}"></script>
</head>
<body>

<!-- Include the above in your HEAD tag -->


<link rel="stylesheet" href="{% static 'user_profile/view_profile.css'%}"/>


<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"></h2>

                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{user.first_name}}</h2>
                                    <h6 class="d-block"><a href="/user/profile/edit">Edit</a> </h6>
                                    <h6 class="d-block"><a href="/user/logout">Logout</a> </h6>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="basicInfo-tab" data-toggle="tab" href="/user/profile/basic" role="tab" aria-controls="basicInfo" aria-selected="false">Basic Info</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link active" id="connectedServices-tab" data-toggle="tab" href="/user/profile/requested" role="tab" aria-controls="requested Services" aria-selected="true">Requested Services</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        {% if hotel != none %}

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"> Your hotel requests</label>
                                            </div>
                                        </div>
                                        <hr />
                                                {% for row in hotel%}
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                               <label style="font-weight:bold;">hotel details</label> 
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <label> from : {{row.from_date}}</label>
                                                 <label> to : {{row.to_date}}</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 <label> number of adults : {{row.no_of_adults}}</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 <label> requested hotel :{{row.requested_hotel.hotel_name}} </label>
                                                
                                            </div>
                                        </div>
                                        <hr />
                                                {% endfor %}
                                            {% else %}
                                             <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"> Unfortunatlly you don't have any hotel requests </label>
                                            </div>
                                                                    
                                        {% endif %}


                                        {% if car != none %}


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"> Your car requests</label>
                                            </div>
                                        </div>
                                        <hr />
                                                {% for row in car%}
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">car request details</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 <label >start time : {{row.pick_up_time}}</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                 <label> Date : {{row.pick_up_date}}</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <label> pickup point : {{row.pick_up_point.location_name}}  </label>
                                            </div>
                                        </div>
                                        <hr />
                                                {% endfor %}
                                            {% else %}
                                                <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"> Unfortunatlly you don't have any car requests </label>
                                                </div>                                                                    
                                        {% endif %}





                                    </div>
                                   
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<html>